<header>    
  <div id="nav" class=" navbar navbar-inverse navbar-fixed-top">
    <div id="navbar-inner">
    	<div class="centered">
        <div id="logo">
          <%= link_to image_tag("tdb.png"), root_path %>
        </div>
        <%= render "devise/shared/sign_in" %>
      </div>
    </div>

  </div>
</header>